%h1 Extensions

%p Standard File extensions allow for your encrypted data to be backed up to multiple places, such as your Dropbox or Google Drive.
%p.mt-15 When you make a change to your data (such as modifying a note using Standard Notes), Standard File will automatically backup this item to your backup locations.

%p.mt-15 When you register a new extension, you should choose "Perform Full Backup" to perform an initial backup of your existing data.

%h2.mt-25 Registered extensions ({{extensions.length}})
%table.mt-15.clear.gray-bg
  %tr
    %th Secret URL
    %th ID
    %th Status
    %th Options
  %tr{"ng-repeat" => "ext in extensions"}
    %td{"style" => "min-width: 70px;"}
      %p {{ext.content.url}}
    %td{"style" => "min-width: 100px;"}
      %p {{ext.uuid}}
    %th{"style" => "min-width: 100px;"}
      %p Enabled
    %td{"style" => "min-width: 210px;"}
      %a.block{"ng-if" => "!ext.requestSent && !ext.requestReceived", "ng-click" => "performBackupForExt(ext)"} Perform Full Backup
      %p.strong{"ng-if" => "ext.requestSent"} Sending request...
      %p.strong{"ng-if" => "ext.requestReceived"} Backup queued successfully.

.col-container
  .col-50
    %h2.mt-25 Add new extension
    %div.mt-10{"style" => "max-width: 400px;"}
      %input.form-control{"ng-model" => "formData.url", "placeholder" => "Extension secret URL"}
      %button.black{"ng-click" => "addExtension()"} Add Extension
  .col-50
    %h2.mt-25 Available extensions
    %a.block{"href" => "https://extensions.standardnotes.org/dropbox", "target" => "_blank"} Dropbox Backup
    %a.block{"href" => "https://standardnotes.org/extensions/revision-history", "target" => "_blank"} Note History
