%section{"ng-if" => "!signedIn"}
  %h1 Standard File Dashboard

  %form{"style" => "width: 400px; max-width: 400px; overflow: hidden;"}
    %input.form-control{"placeholder" => "Server URL", "ng-model" => "formData.server"}
    %input.form-control{"placeholder" => "Email or unique identifier", "ng-model" => "formData.email"}
    %p.bold.mt-15 Enter your server password:
    %em Do not enter your login password here. Instead, use Standard Notes to find your "Server" password.
    %input.form-control.mt-10{"placeholder" => "Server password", "ng-model" => "formData.password"}
    %button.black.mt-15{"ng-click" => "submitLogin()"} Login

    .mt-15.red.center-align.bold{"ng-if" => "formData.error"}
      Error: {{formData.error.message}}


.col-container.wrap{"ng-if" => "signedIn", "ng-init" => "showData = true"}
  .col-15.mt-25.gray-bg{"style" => "margin-right: 20px;"}
    %div.mt-n15.clear
      %h3 Your Dashboard
      %p {{user.email}}
      %p {{getServer()}}
    %a.block.mt-15{"ng-click" => "showData = true; showExtensions = false;"} Data
    %a.block.mt-5{"ng-click" => "showData = false; showExtensions = true;"} Sync Adapters
    %a.block.mt-5{"ng-click" => "signout()"} Sign out
    %a.block.mt-35{"href" => "https://standardfile.org", "target" => "_blank"} Standard File
  .col-80
    %div{"ng-if" => "showData", "ng-include" => "", "src" => "'templates/dashboard.html'", "ng-controller" => "DashboardCtrl"}
    %div{"ng-if" => "showExtensions", "ng-include" => "", "src" => "'templates/extensions.html'", "ng-controller" => "ExtensionsCtrl"}
